* {
    margin: 0;
    padding: 0;
    cursor: default;
    color: #fff;
    border: none;
    outline: none;
    background: none;
    font-family: 'Arial';
    list-style: none;
    box-sizing: border-box;
    text-align: center;
    text-transform: uppercase;
    transition: 0.2s;
}

/* main  -----------------------------------------*/
.wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #000;
}

.main_block {
    width: 700px;
    height: 370px;
    box-shadow: 0 0 10px #fff;
    border-radius: 10px;
}

/* main  -----------------------------------------*/



/* nav elements ------------------------------------------*/
.nav__ul {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    border-bottom: 1px solid #d0d0d0;
}

.nav__li-element {
    padding: 10px 0;
/*    cursor: pointer; */
    user-select: none;
}
/* nav elements ------------------------------------------*/



/* main elements -----------------------------------------*/
.time {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90%;
}

.stopwatch {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90%;
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90%;
}

/* main elements -----------------------------------------*/






.time__text {
    font-size: 32px;
    user-select: none;
}

.time__display {
    font-size: 70px;
    padding-top: 20px;
    font-weight: 800;
}

.stopwatch__display {
    font-size: 70px;
    padding-bottom: 20px;
    font-weight: 800;
}

.stopwatch__button-a {
    font-size: 32px;
    cursor: pointer;
    user-select: none;
}

.stopwatch__button-b {
    font-size: 20px;
    cursor: pointer;
    margin-left: 15px;
    user-select: none;
}

.timer__input {
    width: 210px;
    font-size: 70px;
    padding-bottom: 20px;
    font-weight: 800;
}

.timer__button-a {
    font-size: 32px;
    cursor: pointer;
    user-select: none;
}

.timer__button-b {
    font-size: 20px;
    cursor: pointer;
    margin-left: 15px;
    user-select: none;
}

.theme_changer {
    height: 100px;
    width: 100px;
    border: 50px solid transparent;
    border-bottom: 50px solid rgb(194, 194, 194);
    border-right: 50px solid rgb(194, 194, 194);
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
}

.theme_changer__font {
    position: absolute;
    user-select: none;
    transform: rotate(-45deg);
    color: #000000;
    font-size: 20px;
    bottom: -23px;
    right: -54px;
    cursor: pointer;
}

.time_out {
    position: absolute;
    top: 0;
    left: 110px;
    width: 220px;
    height: 110px;
    background: rgb(176, 59, 59);
    animation: open 0.3s;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}

.time_out__btn {
    font-size: 22px;
    font-weight: 300px;
    padding: 1px 9px;
    border-radius: 4px;
    background: #95865b;
    cursor: pointer;
}

.stopwatch__buttons-wrapper {
    display: flex;
}

.timer__buttons-wrapper {
    display: flex;
}

.nav__paragraph {
    cursor: pointer;
}

.nav__paragraph:hover {
    color: #919191;
}

.active {
    border-bottom: 1px solid #6d5fb4;
}

.black {
    color: black;
}

.white {
    color: white;
}

@keyframes open {
    0% {
        top: -110px;
    }

    100% {
        top: 0px;
    }
}